@model AgroNet.Model.OPG

@{
    ViewData["Title"] = "Create OPG";
}

<h2>Create OPG</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Naziv" class="control-label"></label>
        <input asp-for="Naziv" class="form-control" />
        <span asp-validation-for="Naziv" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adresa" class="control-label"></label>
        <input asp-for="Adresa" class="form-control" />
        <span asp-validation-for="Adresa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IBAN" class="control-label"></label>
        <input asp-for="IBAN" class="form-control" />
        <span asp-validation-for="IBAN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MjestoId" class="control-label"></label>
        <select asp-for="MjestoId" class="form-control" asp-items="ViewBag.Mjesta"></select>
        <span asp-validation-for="MjestoId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
