@model AgroNet.Model.OPG

@{
    ViewData["Title"] = "Edit OPG";
    ViewBag.IsEditMode = true;
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @await Html.PartialAsync("_OPGForm")
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
