@model AgroNet.Model.StrojAlat
@{
    var opgId = ViewBag.OPGId;
    var vrstaStrojaAlataList = ViewBag.VrstaStrojaAlataList as IEnumerable<SelectListItem>;
}
<div class="container">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Edit", new { id = opgId, activeTab = "strojeviAlati" })">
                    Moji strojevi/alati
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Create Proizvod</li>
        </ol>
    </nav>
</div>


<div class="container">
    <h2 class="text-center">Uredi Stroj/Alat</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Adjust the column size as needed -->
    <form asp-action="EditStrojAlat" method="post">
        <div class="form-group">
            <label asp-for="Naziv" class="control-label"></label>
            <input asp-for="Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Opis" class="control-label"></label>
            <input asp-for="Opis" class="form-control" />
            <span asp-validation-for="Opis" class="text-danger"></span>
        </div>

        <div class="form-group">
                    <label asp-for="VrstaStrojaAlataId" class="control-label">Vrsta stroja/alata</label>
            <select asp-for="VrstaStrojaAlataId" class="form-control" asp-items="vrstaStrojaAlataList"></select>
            <span asp-validation-for="VrstaStrojaAlataId" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 text-center">
        <input type="hidden" name="opgId" value="@opgId" />
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Edit" asp-route-id="@opgId" class="btn btn-secondary">Odustani</a>
        </div>
    </form>
</div>
</div>
</div>

