@model AgroNet.Web.Models.OPGFilterModel

<form action="@Url.Action("OPG")" method="get">
    <div class="row">
        <div class="col">
            <input asp-for="NazivOPG" class="form-control" type="text" placeholder="Naziv OPG" />
        </div>
        <div class="col">
            <input asp-for="NazivMjesta" class="form-control" type="text" placeholder="Mjesto" />
        </div>
        <div class="col">
            <select asp-for="ZupanijaId" class="form-control" asp-items="ViewBag.Zupanije">
                <option value="">All</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-info">Pretraga</button>
        </div>
    </div>
</form>
